.main-container {margin-top: 10px;  padding-bottom: 500px;}

/* --- Menu Styling --- */
.menu-header {
	background-image: url('netherbrickssmall.png'); 
	color: white; 
	height: 70px; 
	font-family: 'Muli', sans-serif; 
	padding-top: 10px;
}
.bg-black {background-color: black;}
.navbar {padding: 0 10px 0 10px;}
.Timers {
	font-size: 12px!important;
	margin-left: 10px;
}
.bTop {border-top: 1px dotted #666666;}
.dropdown-item {padding-left: 10px!important}

/* --- Font Styling --- */
c {color: #c7254e;font-style: normal;white-space:nowrap;}
		